.card.product.columns
  .product__image
    img.w-100(src="https://www.figma.com/file/mqnGpLBqrubRqdizW2tzRV/image/756cdd323474bad0065c8495b1e0b027d7ccb27a" width="196")
    .react
      i.far.fa-heart
  .product__info
    .product__category
      h4 mobile
    .product__title
      h3
        a(href="#") Apple iPhone 11 Pro Max - 256GB, 4G LTE, Gold
    .product__details
      .price
        p.after AED 3999 
        p.before AED 4500
      button.cart 
        i.far.fa-shopping-cart
