.btn-primary {
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  border-radius: 4px;

  &:hover {
    color: var(--primary);
    background-color: var(--base-white);
  }
}
