.custome-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    h3 {
      @extend .text-lg;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      gap: 4px;
      &.lg {
        font-size: 24px;
        font-weight: 600;
      }
      i.fa-star {
        color: var(--warning-300);
      }
    }
    a {
      @extend .text-md;
      color: var(--grey-300);
      font-weight: 500;
      &.lg {
        font-size: 18px;
      }
    }
    button {
      all: unset;
      @extend .text-md;
      color: var(--grey-300);
      font-weight: 500;
      cursor: pointer;
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
  .body {
    padding: 32px 20px;
  }
}

.card {
  padding: 18px 20px;
  box-shadow: 0px 3px 40px -5px #20202012;
  border-radius: 8px;
  background-color: var(--base-white);
  border: none;
  h3 {
    @extend .text-lg;
    margin-bottom: 23px;
  }
  .card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .image-container {
        position: relative;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          border: 1px solid var(--primary-900);
        }
        span {
          position: absolute;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: var(--primary-900);
          right: 0;
          bottom: 0;
        }
      }
      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        h3 {
          @extend .text-lg;
          margin-bottom: 0;
        }
        i {
          color: var(--primary-900);
        }
      }
      .location {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        color: var(--grey-400);
        span {
          @extend .text-md;
          font-weight: 400;
        }
      }
      .rating {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        .rating-stars {
          display: flex;
          align-items: center;
          gap: 4px;
          i {
            color: var(--grey-200);
            &.active {
              color: var(--warning-300);
            }
          }
        }
        span {
          color: var(--grey-500);
          @extend .text-sm;
        }
      }
    }
    .badge-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      .badge {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        background-color: var(--grey-50);
        border-radius: 8px;
        i {
          font-size: 1rem;
          color: var(--primary-900);
        }
      }
    }
    > p {
      @extend .text-md;
    }
    .btn {
      width: 100%;
      height: 40px;
      @extend .text-md;
      font-weight: 500;
    }
  }
  &__body {
    ul {
      &.columns {
        display: flex;
        gap: 20px;
        flex-direction: column;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
          span {
            display: flex;
            gap: 10px;
            align-items: center;
            @extend .text-md;
            font-weight: 500;
            font-size: 14px;
            i {
              color: var(--grey-500);
            }
          }
        }
      }
      &.rows {
        display: flex;
        gap: 11px;
      }
      &.social-media {
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 42px;
            color: #fff;
            font-size: 21px;
            border-radius: 5px;
            &.linkedin {
              background-color: var(--linkedin-bg);
            }
            &.facebook {
              background-color: var(--facebook-bg);
            }
            &.whatsapp {
              background-color: var(--whatsapp-bg);
            }
            &.twitter {
              background-color: var(--twitter-bg);
            }
            &.copy {
              background-color: #f2f2f2;
              color: #4f4f4f;
            }
          }
        }
      }
    }
  }
}
