.products-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding: 57px 0px;

  h3 {
    @extend .heading;
    margin-bottom: 0;
  }
  .load-more {
    button {
      width: 216px;
      height: 56px;
      font-size: 17px;
      text-transform: uppercase;
    }
  }
}
