.main-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .products {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.custome-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.addons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .addon {
    background-color: #ffffff;
    padding: 24px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    ul {
      display: flex;
      gap: 9px;
      li {
        background-color: #e9f9f1;
        padding: 10px 5px 10px 5px;
        border-radius: 8px;
        @extend .text-lg;
        font-weight: 500;
        font-size: 16px;
        color: var(--primary);
      }
    }
  }
}

form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  gap: 40px;
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    > div {
      background-color: #f6f6f6;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 13px 60px;
    }
  }
  .price {
    font-size: 18px;
    font-weight: 600;
  }
  .count {
    input {
      all: unset;
      font-size: 16px;
      font-weight: 600;
      min-width: 60px;
      text-align: center;
    }
    button {
      all: unset;
      background-color: #ffffff;
      width: 28px;
      height: 28px;
      border-radius: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--primary);
      box-shadow: 0px 2px 3px 0px #bab5b533;
      cursor: pointer;
    }
  }
  > button {
    padding: 13px 36px !important;
  }
}

.services {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 0;
  box-shadow: 0 3px 40px -5px rgba(32, 32, 32, 0.0705882353);
  border-radius: 8px;
  background-color: var(--base-white);
  padding: 30px 20px;
  .rate-service {
    align-items: center;

    .service-info {
      display: flex;
      align-items: center;
      gap: 10px;
      h3 {
        margin-bottom: 0;
        @extend .text-lg;
      }
    }
    .service-progress {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 24px;
      .progress {
        width: 100%;
        height: 8px;
      }
    }
  }
}

.service {
  display: flex;
  flex-direction: column;
  gap: 40px;
  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    h2 {
      margin-bottom: 0;
      font-size: 24px;
      font-weight: 600;
    }
  }
  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    .rating {
      display: flex;
      align-items: center;
      gap: 10px;
      span {
        @extend .text-lg;
        font-size: 16px;
        font-weight: 400;
        color: #696f79;
      }
    }
    .sharing {
      display: flex;
      align-items: center;
      gap: 20px;
      button {
        all: unset;
        color: #8692a6;
        cursor: pointer;
        font-size: 24px;
      }
    }
  }
  &__carousel {
    height: 431px;
    .carousel {
      height: 100%;
      .carousel-inner {
        width: 96%;
        height: 100%;
        margin: auto;
        border-radius: 8px;
        overflow: hidden;
        .carousel-item {
          height: 100%;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
      }
      button {
        width: 48px;
        height: 48px;
        background: #ffffff66;
        box-shadow: 0px 3px 3px 1px #2020200d;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
        color: #f2f2f2;
        font-size: 24px;
        transition: all 0.4s;
        &:hover {
          background-color: #fff;
          color: var(--primary);
        }
      }
    }
  }
}
