.card.product.columns
  .product__image
    img.w-100(src="https://s3-alpha-sig.figma.com/img/9339/17a9/88163f9e30a528d7d670a997013cc583?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h7zjUilPvrT99VWYVvMUo~DD9ORyM6vOK0AXCVKS6tBelt0A0hI355pkp7zBw0h9xnJW1zNjI-6m7qiYowsLBlxDplGlEuF2PRjyMeSbNs5hIMQKh7QLZqnzOQZEdqipBhxEMZLCRghrXSJ5bXkMggqwBKB2Zv0XTfp31z5MKXlxCO0D3-QT49pDU76MrcxCUJgIJGUxHdN-TrWAIWTf8K8JfyqyihjSp8WWe9h5F0a966OcbByskMMvGetudm1umlpDTBhqyLR5D3D4GfCiaEsH-v8Q5zGrp5TZb3id8npuSqB1chUslRRbCHdnEZRvaBpuMuUFi-6M93qo9YKhOg__")
    .react
      i.far.fa-heart
  .product__info
    .product__title
      h3
        a(href="#") Lorem ipsum dolor sit ame, consectetur Lorem ipsum dolor Lorem ipsum dolor sit ame, consectetur Lorem ipsum dolor
    .product__details.columns
      .details
        .rate
          i.fa.fa-star
          span 4.9
        .cart 
          i.fa.fa-shopping-cart
          span $10
      .product__auther
        a.user(href="#")
          .user__image
            img.w-100(src="https://s3-alpha-sig.figma.com/img/ce45/a896/d958cf406bb83c3c0a93e2f03fcb0bef?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=F6Kt0cpN6GEhDP5lXOpl6lz1~4BblFX~jMQp0vavFqG1pHxUCBWq~AgoXnzeXk1Q-KqYhpdx-~lU~HaNN0~ZtXHTUNzgkA4RFdiPAyiHUfiqzUnsFWaTidLpnwmTIGbEa2xR04XjhQeybBoZR9p9Bm6EGNG0PXTM4B7ydcWwQCyygrl7sNOCm1Z3qu2w3FdwbuUZU99wNSUnRD3skZNp2mf8Ai4Yt-0XrwhtYeu~yf17US298uz7BtKrr1wbZHYGBbwDmfAfEUj7uxNnfYbdqKmJXk6i6sGug2xNaxHi15XBjU2DSZN6JAjq9pq4UmAaP3DdaqAYlwOFAQDTd-4cxA__")
          p.name Jane Smith
        .price 
          i.fa.fa-tag
          span $10
