main {
  margin-top: 64px;
}

.suggest {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 42px;
  h3 {
    font-size: 24px;
  }
  a {
    font-size: 18px;
  }
}

.rate {
  display: flex;
  gap: 4px;
  i {
    color: var(--grey-200);
    &.active {
      color: var(--warning-300);
    }
  }
}

.short-rate {
  display: flex;
  align-items: center;
  gap: 8px;
  .fa-star {
    color: var(--warning-300);
  }
}
