h1 {
  font-size: 64px;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 40px;
  letter-spacing: -0.02em;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  letter-spacing: -0.02em;
}

a {
  font-size: 16px;
}
